header {
    height: 100px;
    display: flex;
    align-items: center;
    background: indianred;  
    margin-bottom: 20px;
    max-width: 70rem; 
    margin-left: auto;
    margin-right: auto;
  background-image: linear-gradient(to right, rgb(155, 37, 37), rgb(65, 137, 30));
  }
  
  header > img {
    height: 80%;
    margin-left: 10%;
  }
  
  header > p {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color: whitesmoke;
    font-size: 50px;
    margin-left: 10%;
  }
  