.image{
    width: 30 px;
    border: 2px solid black;
}

.App{
    text-align: center;
}
.meme-image{
    margin-top: 30px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meme-image .top {
  position: absolute;
  top: 10px;
  text-align: center;
  margin: auto;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
  -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
  2px 2px 5px #000;
  color: white;
}
.meme-image .bottom {
    position: absolute;
  bottom: 10px;
  text-align: center;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
  -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
  2px 2px 5px #000;
  color: white;
}